[Desktop Entry]
Encoding=UTF-8
Name=Dagra
Comment=Dagra P2P Cryptocurrency
Comment[fr]=Dagra, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Dagra, eşten eşe kriptografik sanal para birimi
Exec=dagra-qt %u
Terminal=false
Type=Application
Icon=dagra128
MimeType=x-scheme-handler/dagra;
Categories=Office;Finance;
