[Unit]
Description=Dagra's distributed currency daemon
After=network.target

[Service]
User=dagra
Group=dagra

Type=forking
PIDFile=/var/lib/dagrad/dagrad.pid
ExecStart=/usr/bin/dagrad -daemon -pid=/var/lib/dagrad/dagrad.pid \
-conf=/etc/dagra/dagra.conf -datadir=/var/lib/dagrad -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
